:root {
  --animation-time: 6s; 
}

body {
  text-align: center;
  background: #413233;
  /* background: #413233; */
  /* background: #ffffff url(../media/bg.jpg) top center */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Hairline', monospace;
}
p, div {
  font-family: 'Bungee Hairline', monospace;
  font-weight: 200;
  font-size: 20px;
}
.social-media-icons a {
  font-size: 28px;
  color: #DBD1B6;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

#follow {
  color: grey;
}

#main {
  /* background: white; */
  /* border: 10px black solid; */
  margin: 30px;
  padding: 35px;
  padding-top: 0px;
  color: #DBD1B6;
  /* color: #DBD1B6; */
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button .retro-btn {
  margin:2px 2px 2px 0;
  /* float:right; */
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus:none;
}

button:focus {
  outline: none;
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.box {
  animation: float var(--animation-time) ease-in-out infinite;
}

/* Custom Thumbnails */
/*.row div {
  display: inline-block;
  *display:inline;
  float: none;
}*/
