body {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro';
}
p, div {
    font-family: 'Source Code Pro';
    font-weight: 200;
}
.social-media-icons a {
  font-size: 28px;
}
#follow {
  color: grey;
}

/* Custom Thumbnails */
/*.row div {
  display: inline-block;
  *display:inline;
  float: none;
}*/
